@media only screen and (max-width: 767px) {
    .ui.steps.unstackable .step .content {
        display: none !important;
    }
    .ui.steps.unstackable .step .icon {
        font-size: 1.5em;
        margin: 0;
    }
}
